[Unit]
Description=FHIR ePI Creator Service
After=network.target

[Service]
ExecStart=/home/joaoalmeida/gh_epi_creator_app/start.sh


WorkingDirectory=/home/joaoalmeida/epi-creator-webapp
StandardOutput=inherit
StandardError=inherit
Restart=always
User=joaoalmeida

[Install]
WantedBy=multi-user.target