[Unit]
Description=FHIR ePI Creator Service
After=network.target

[Service]
ExecStart=/mnt/sandboxes/epi-creator-webapp/start.sh


WorkingDirectory=/mnt/sandboxes/epi-creator-webapp
StandardOutput=inherit
StandardError=inherit
Restart=always
User=jalmeida

[Install]
WantedBy=multi-user.target
