[Unit]
Description=FHIR ePI Creator Service
After=network.target

[Service]
ExecStart=/home/joaoalmeida/epi-creator-webapp/epi-creator-venv/bin/gunicorn run:app -w 2 --threads 2 -b 0.0.0.0:8383
WorkingDirectory=/home/joaoalmeida/epi-creator-webapp
StandardOutput=inherit
StandardError=inherit
Restart=always
User=joaoalmeida

[Install]
WantedBy=multi-user.target