<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>


     
</head>

<body class="d-flex flex-column min-vh-100">
    <div class="container">
  <h1>ePI Creator Information</h1>
  <br/>

<div>
<h2>What this does:</h2>
<p>The excel files serves as support to create FHIR ePI in a timely manner.</p>
<p>The resources are linked like this:</p>
<img src="{{ url_for('static', filename='imgs/relationship.png') }}">

</div>

<div><h2>Known issues</h2></div>

<ul>
    <li>One Medicinal Product per file only.</li>
<li>Limited information input</li>
<li>Only one Medicinal Product per composition (but several compositions per Medicinal Product is possible)</li>
<li> The Narrative text must be in HTML ...</li>
</ul>
</body>



</html>